[Unit]
Description=LittleJ Event Bus
After=network.target

[Service]
Type=simple
User=taiji_admin
WorkingDirectory=/home/taiji_admin/Taiji_Hub
ExecStart=/usr/bin/python3 /home/taiji_admin/Taiji_Hub/runtime/events/runtime_event_bus.py
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
