[Unit]
Description=Taiji Admin Node
After=taiji-gateway.service
Requires=taiji-gateway.service

[Service]
Type=simple
Environment=TAIJI_ROOT=%h/Taiji_Hub
WorkingDirectory=%h/Taiji_Hub
ExecStart=%h/Taiji_Hub/boot/start_admin_node.sh
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
